.main {
    margin-top: 25px;
}
a {
    color: blue;
    font-size: 18px;
    font-weight: 500
}
a:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(6, 6, 156);
    color: rgb(6, 6, 156)
}
.empty {
    min-height: 600px;
}
.selection-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white

}
.has-border {
    border: 1px solid rgb(46, 43, 43);
    border-radius: 5px;
}
::ng-deep .mat-form-field-underline{
    background-color: transparent;
}
::ng-deep .mat-form-field-ripple{
    background-color: transparent;
    visibility: hidden !important;
}
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.5em;
    margin-left: 8px;
    margin-right: 8px;
}
::ng-deep .mat-form-field-infix {
    width: 300px !important;
}
mat-icon {
    cursor: pointer;
}