<div class="dialog-container">
  <form [formGroup]="loginForm">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/angular-red.png" height="48" width="48">
      <div class="name">Album Store</div>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <div class="err">{{error}}</div>
      <mat-checkbox>Remenber</mat-checkbox>
      <button mat-raised-button (click)="onLogin()">Sign in</button>
      <a>Forget password? <span class="create" (click)="openSignUpDialog()"> Creat a account?</span></a>
    </div>
  </form>
</div>