<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/festivals.jpg')">
        <app-tab-filter></app-tab-filter>
    </div>
    <app-carousel [category]="'V-pop: New Release'" [albums]="vpopAlbum"></app-carousel>
    <app-carousel [category]="'K-pop: New Release'" [albums]="kpopAlbum"></app-carousel>
    <app-carousel [category]="'US-UK: New Release'" [albums]="usukAlbum"></app-carousel>
    <app-carousel [category]="'Japan: New Release'" [albums]="japanAlbum"></app-carousel>
</div>