.album-card {
    margin: 10px;
}
a {
    text-decoration-color: black;
    > mat-card-title {
        font-weight: 600;
        color: black;
    }
}
mat-card-title {
    font-size: 15px;
    margin-top: 8px !important;
}
.container {
    position: relative;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    // max-width: 400px;
}
.btn {
    display: none;
}
.container img {
    width: 100%;
    height: auto;
}
mat-card {
    padding: 0px !important;
}
.container:hover {
    .btn {
        display: block
    }
}
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.container .out-stock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: 500;
    color: #dc6005;
    border: 2px solid #dc6005;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
}
.details {
    padding: 24px;
}
.sub-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .price {
        color: rgb(189, 11, 11);
        font-weight: 600
    }
    a {
        color: black;
        font-size: 14px;
    }
}

