<mat-card class="album-card">
  <div class="container">
    <a [routerLink]="['/detail-album', {id: item.id}]">
      <img src={{item.cover}} alt="{{item.name}}">
    </a>
    <button *ngIf="item.status !== 0 && item.quantity > 0;else outStock" class="btn btn-outline-danger" (click)="addToCart()">Add to cart</button>
    <ng-template #outStock>
      <div class="out-stock">Out-stock</div>
    </ng-template>
  </div>
  <div class="details">
    <a [routerLink]="['/detail-album', {id: item.id}]">
      <mat-card-title class="title">{{item.name}}</mat-card-title>
    </a>
    <div class="sub-detail-container">
      <a [routerLink]="['/section', {type: 1, content: item.artist.id}]">{{item.artist.name}}</a>
      <div class="price">{{item.price | currency:'VND'}}</div>
    </div>
  </div>
</mat-card>